<%- include('../partials/header') %>

<form action="/skills" method="POST">
    <input type="text" name="skill">
    <!-- <input type="number" name="score"> -->
    <button type="submit" id="save-skill">Save Skill</button>

</form>

<%- include('../partials/footer') %>