body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: white;
}

h1 {
  font-size: 5vmin;
}

h2 {
  font-size: 4vmin;
}

h3 {
  font-size: 3vmin;
}

a {
  text-decoration: none;
  color: darkorange;
  font-weight: 600;
}

a:hover {
  color: orange;
}

li {
  list-style: none;

}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 8vmin;
  width: 100%;
  margin: 0;
  text-align: center;
}

#skills-list {
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 0;
  font-size: 3vmin;
  color: darkorange;
}

.skill-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form > button{
  height: 3vmin;
  width: 3vmin;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.5vmin;
  border-radius: 20%;
  background-color: darkorange;
  margin: 0.5vmin;
  border: 0;
}

#buttons {
  display: flex;

}

button:hover {
  cursor: pointer;
  background-color: orange;
}

#up {
  background-image: url('../images/icons8-up-30.png');
}

#down {
  background-image: url('../images/icons8-down-30.png');
}

#delete {
  background-image: url('../images/icons8-close-30.png');
}

#save-skill {
  width: 9vmin;
  height: 3vmin; 
  border-radius: 5vmin;
}